@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm py-2 px-3 w-full mb-1;
  @apply shadow-md;
}

input:hover,
textarea:hover,
select:hover {
  @apply border-rose-600;
}

h1 {
  @apply text-gondola-900 mb-2 text-xl;
}

label {
  @apply text-gondola-900 text-sm;
}

.btn-primary {
  @apply bg-gondola-700 text-white px-4 py-1  rounded-md;
}

table.basic {
  @apply w-full bg-white rounded-lg shadow-md;
}

table.basic tr td {
  @apply px-4 py-1 border-b border-gondola-100;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gondola-400 px-4 py-2;
}

table.basic a {
  @apply px-4 inline-flex mx-1 items-center gap-1 text-sm;
}

.btn-default,
.btn-red {
  @apply px-4 py-1 my-1 rounded-md;
}

.btn-red {
  @apply bg-rose-700 text-white;
}

.btn-default {
  @apply bg-gray-600 text-white;
}
